<div class="promobar">
  Passbilder 6stk biometrisch 7€
</div>

<div class="top-navbar">
    <div class="navitem">
      <div id="menu-icon"><i class="fas fa-bars"></i></div>
    </div>


    <div class="navitem" id="logo">
      <h1><%= link_to "Lampen Diener", root_path %></h1>
      <h2><%= link_to "Licht und Technik", root_path %></h2>
    </div>

    <div class="" id="switch">AN</div>
</div>

<div id='menu' class="hide">
  <div class='option' id='option1'>
    <a href="/#services"> Services</a>
  </div>
  <div class='option' id='option2'><%= link_to "Kontakt", contact_path %></div>
  <div class='option' id='option3'>
    <a href="/#impressum"> Impressum</a>
  </div>
</div>
