<div class="contact">
  <h2>So erreichen Sie uns:</h2>
  <br>
  <h2><font color= #FFF266>Persönlich</font></h2>
  <p><strong>Unsere Öffnungszeiten:</strong></p>
  <p>Mo. - Fr.: 09:30 - 19.00 Uhr</p>
  <p>Anschrift: Licht & Technik Diener; Am Müggelpark 10-12 ; 15537 Gosen</p>
  <br>
  <br>
  <h2><font color= #FFF266>Telefonisch oder per Email</font></h2>
  <p>Tel/Fax:  03362 821080</p>
  <p>Email: andy.diener@gmx.de</p>
  <br>
  <br>
  <h2>Erkundigen Sie sich hier nach Center-Angeboten:</h2>
  <a href="https://www.mueggelpark.info/">Müggelpark Info</a>
</div>
