<div class="banner-section">
  <div class="text-left">
    <h2>Hier bringen wir nicht nur <br> Ihre Augen zum Leuchten</h2>
    <h3>Willkommen in unserem Leuchtenfachgeschäft mit angeschlossener Werkstatt</h3>
  </div>
  <div class="picture-right" id="pic-right"><%= image_tag "AUS.png", alt: "Aus"%></div>
</div>

<div class="service-section" id="services">
  <h2>Unser Service</h2>
  <div class='center'>
    <span>Das Konzept: <strong>Service und Dienstleistungen</strong>
    Reparaturen, Ersatzteile, Lichtberatungen vor Ort, Restauration von alten Leuchten, Kleinreparaturen nach Termin vor Ort,  Batteriewechsel aller Art</span>
  </div>
  <br>
  <div class="service-2x">
    <div class="service-detail" id="reperatur">
      <h2>Reparatur Service</h2>
      <span>Sie gehen zu "real" oder bummeln durchs Center während wir Ihre Anliegen verschiedenster Art reparieren</span>
    </div>
    <div class="service-detail" id="batterie">
      <h2>Batteriewechsel</h2>
      <span>Sie gehen zu "real" oder bummeln durchs Center während wir Batteriewechsel aller Art vornehmen</span>
    </div>
  </div>
  <div class="service-2x">
    <div class="service-detail" id="leuchtenbau">
      <h2>Kreativer Leuchtenbau</h2>
      <span>Leuchtenbau nach Absprache, umbauen von konventioneller Beleuchtung auf LED </span>
    </div>
    <div class="service-detail" id="lieferung">
      <h2>Leuchten Lieferung & Anbau</h2>
      <span>Je nach Wunsch: alles von Beratung bis Anbau. Wir geben ihnen auch gerne Rat und Ideen zum Einrichten Ihres Wohnraumes mit speziellen Wünschen vom Möbelstück bis zu der dazu passenden Beleuchtung und Accessoires</span>
    </div>
  </div>
</div>

<div class="impressum" id="impressum">
  <h2><strong>Impressum</strong></h2>
  <h3> Das Portal www.Licht-Technik-Diener.de ist ein Portal der Firma Licht & Technik Diener. <br>
      Für die aufgeführten Links und deren Inhalte übernehmen wir keine Verantwortung. <br><br>
      <strong>Anschrift:</strong><br>
      Licht & Technik Diener; Am Müggelpark 10-12 ; 15537 Gosen<br><br>
      Ust.-ID-Nr. DE220901828<br>
      Tel.: 03362/821080<br>
      Fax: 03362/821080<br><br>
      Kontakt per Email:andy.diener@gmx.de<br>
      Inhaber: Andre Diener<br><br>
      Verantwortlich für den Inhalt:<br>
      Andre Diener
 </h3>
</div>
